name: release

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: ["addons/**"]

jobs:
  release:
    runs-on: [self-hosted, arma-tools]
    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Build addons
        uses: team-gsri/actions-arma-tools/build-addon@v0
        with:
          prefix: 'fr\gsri\zeusmanager'
          source: ./addons/gsri_zeusmanager
          target: ./

      - name: Deploy mod to GitHub and Workshop
        uses: team-gsri/actions-arma-tools/release-mod@v0
        with:
          source: ./
          name: GSRI-ZM
          product: "GSRI Zeus Manager"
          image: gsrilogo.paa
          workshopId: ${{ secrets.WORKSHOP_ID }}
          steam_login: ${{ secrets.STEAM_LOGIN }}
          steam_password: ${{ secrets.STEAM_PASSWD }}
